<div class="container" *ngIf="track">
  <h1><span label label-default>Track</span></h1>

  <div class=" mb-4 d-flex" *ngIf="track">
    <div class="text">
      <h3 class="heading">
        {{ track.title }}
      </h3>
      <div>
        <audio preload="auto" controls="controls"><source src="{{ track.preview }}" type="audio/mpeg"/></audio>
      </div>
      <div>
        <p> lien deezer : {{track.link}}</p>
      </div>
      <div>
        <p> temps : {{track.duration}}</p>
      </div>
      <div>
        <p> top deezer : {{track.rank}}</p>
      </div>
      <div>
        <p> date : {{track.release_date}}</p>
      </div>
      <div>
      <p> contributeurs : {{track.contributors}}</p>
    </div>
      <div>
      <p> artist : {{track.artist}}</p>
    </div>
      <div>
        <p> album : {{track.album}}</p>
      </div>
    </div>
  </div>
</div>
