<body>
  <div class="container" *ngIf="track">
  <h1><span label label-default>Track</span></h1>

  <div class=" mb-4 d-flex" *ngIf="track">
    <div class="text">
      <h3 class="heading">
        {{ track.title }}
      </h3>
      <div>
        <audio preload="auto" controls="controls"><source src="{{ track.preview }}" type="audio/mpeg"/></audio>
      </div>
      <div>
        <p><a href="{{track.link}}" target="_blank">Écouter et voir les paroles</a></p>
      </div>
      <div>
        <p> Durée : {{track.duration | durationConversion }}</p>
      </div>
      <div>
        <p> Rang sur deezer : {{track.rank}}</p>
      </div>
      <div>
        <p> Date de parution : {{track.release_date}}</p>
      </div>

      <div class="container">
        <h1>Artiste</h1>
      </div>
      <div>
        <div class="card">
          <a href="http://localhost:4200/artist/{{track.artist.id}}"><img [src]="track.artist.picture" [title]="track.artist.name"  /></a>
          <p>{{ track.artist.name }}</p>
          <br />
        </div>
      </div>

      <div class="container" *ngIf="track.contributors.length > 1">
        <h1>Contributeurs</h1>
      <div class="row">
        <div class="column" *ngFor="let contributor of track.contributors">
          <div class="card">
            <p>{{ contributor.name }}</p>
            <a href="http://localhost:4200/artist/{{contributor.id}}"><img [src]="contributor.picture" [title]="contributor.name"  /></a>
          </div>
          <br />
        </div>
      </div>
      </div>

        <div class="container">
          <h1>Album</h1>
        </div>
        <div>
            <div class="card">
              <a href="http://localhost:4200/album/{{track.album.id}}"><img [src]="track.album.cover_big" [title]="track.album.label"/></a>
              <p class="title">Titre de l'album</p>
              <p>{{ track.album.title }}</p>
            <br />
          </div>
        </div>
  </div>
</div>
    <div *ngIf="isLoading==true" class="image" >
      <img src="assets/icons/waitingGif.gif"/>
    </div>
  <div *ngIf="isLoading==false && track== undefined ">
    <app-error404></app-error404>
  </div>
  </div>
</body>
