<div class="container" *ngIf="track">
  <h1><span label label-default>Track</span></h1>

  <div class=" mb-4 d-flex" *ngIf="track">
    <div class="text">
      <h3 class="heading">
        {{ track.title }}
      </h3>
      <div>
        <audio preload="auto" controls="controls"><source src="{{ track.preview }}" type="audio/mpeg"/></audio>
      </div>
      <div>
        <p> lien deezer : {{track.link}}</p>
      </div>
      <div>
        <p> temps : {{track.duration}}</p>
      </div>
      <div>
        <p> top deezer : {{track.rank}}</p>
      </div>
      <div>
        <p> date : {{track.release_date}}</p>
      </div>
      <div>
      <p> contributeurs : {{track.contributors}}</p>
    </div>
      <div>
      <p> artist : {{track.artist}}</p>
      </div>
        <div>
          <h1>Albums</h1>
        </div>

        <div>
            <div class="card">
              <img [src]="track.album.cover_big" [title]="track.album.label"  />
              <p class="title">Titre de l'album</p>
              <p>{{ track.album.title }}</p>
              <p class="title">Nombre de fans</p>
              <p>{{ track.album.fans | numberConversion }}</p>

              <p class="title">Date de parution</p>
              <p>{{ track.album.release_date }}</p>
            <br />
          </div>
        </div>
  </div>
</div>
