<body><div *ngIf="album">
<div class="container">
  <h1><span label label-default>{{ album.title }}</span></h1>

  <div class=" mb-4 d-flex">
    <img
      [src]="album.cover_medium"
      [title]="album.title"
      class="blog-img mr-4"
    />
    <div class="text">
      <div>
        <span>Nombre de fans : {{ album.fans | numberConversion }}</span>
      </div>
      <div>
        <span>Nombre de morceaux : {{ album.nb_tracks }}</span>
      </div>
    </div>
  </div>
</div>

  <div class="center">
    <p><a href="{{album.link}}" target="_blank">Écouter l'album sur Deezer</a></p>
  </div>

<div class="container">
  <h1>Morceaux de l'album</h1>
  <div class="item">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Titres</th>
        <th scope="col">Extraits</th>
      </tr>
      </thead>
      <tbody *ngFor="let track of tracks">
      <tr>
        <td><a href="http://localhost:4200/track/{{track.id}}">{{ track.title }}</a></td>
        <td><audio preload="auto" controls="controls"><source src="{{ track.preview }}" type="audio/mpeg"/></audio></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


<div *ngIf="isLoading===true" class="image" >
  <img src="assets/icons/waitingGif.gif"/>
</div>

<div><app-pub></app-pub></div>

</body>
