<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"
    rel="stylesheet"
  />
  <title>Projet Deezer Chloé Tali</title>
</head>

<body class="body">
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background: rgb(34,193,195);
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);"
>
  <a
    class="navbar-brand"
    href="#"
    style="color: white; font-family: 'Monoton', cursive;"
  >Projet Deezer Chloé Tali</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#" style="color: white;"
      >Home <span class="sr-only">(current)</span></a
      >
      <a
        class="nav-item nav-link"
        routerLink="/artist"
        target=""
        style="color: white; "
      >Artist</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
</body>
</html>

<!--prof
{{response.data[0].artist.name}}-->

<!--
response = connection.post do |req|
  req.url "user/#{user_id}/playlists"
  req.headers['Authorization'] = "Bearer #{acces_token}"
  req.headers['Content-Type'] = 'application/json'
  req.body = {
    title: name,
    public: public
  }.to_json
end
-->

<!--
<div>
  <div *ngFor="let artist of artists">
    <div>
      <p>{{ artist.name }}</p>
      <p class="title">Total Number of Fans</p>
      <p>{{ artist.nb_fan | shortNumber }}</p>

      <p>
        <button routerLink="/artist/{{ artist.id }}">
          View Artist Details
        </button>
      </p>
    </div>
  </div>
</div>
-->
