<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
  />
  <title>Projet Deezer Chloé Tali</title>
</head>

<body class="body">
<nav
  class="navbar navbar-expand-lg navbar-light"
>
  <a
    class="navbar-brand"
    href="#"
  >Projet Deezer Chloé Tali</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Accueil</a>
      <a class="nav-item nav-link" routerLink="/artist">Artistes</a>
      <a class="nav-item nav-link" routerLink="/track">Morceaux</a>
      <a class="nav-item nav-link" routerLink="/artistMystery">Artiste mystère</a>
      <a class="nav-item nav-link" routerLink="/trackMystery">Morceau mystère</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
</body>
</html>

<!--prof
{{response.data[0].artist.name}}-->

<!--
response = connection.post do |req|
  req.url "user/#{user_id}/playlists"
  req.headers['Authorization'] = "Bearer #{acces_token}"
  req.headers['Content-Type'] = 'application/json'
  req.body = {
    title: name,
    public: public
  }.to_json
end
-->

<!--
<div>
  <div *ngFor="let artist of artists">
    <div>
      <p>{{ artist.name }}</p>
      <p class="title">Total Number of Fans</p>
      <p>{{ artist.nb_fan | shortNumber }}</p>

      <p>
        <button routerLink="/artist/{{ artist.id }}">
          View Artist Details
        </button>
      </p>
    </div>
  </div>
</div>
-->
