<button type="button" class="btn btn-light" (click)="reloadPage()">un autre</button>
<div class="container" *ngIf="track">
  <h1><span label label-default>Track</span></h1>
  <div class=" mb-4 d-flex">
    <div class="text">
      <h3 class="heading">
        {{ track.title }}
      </h3>
      <div>
        <audio preload="auto" controls="controls"><source src="{{ track.preview }}" type="audio/mpeg"/></audio>
      </div>
      <div>
        <p><a href="{{track.link}}">Écouter et voir les paroles</a></p>
      </div>
      <div>
        <p> Durée : {{track.duration | durationConversion }}</p>
      </div>
      <div>
        <p> Date de parution : {{track.release_date}}</p>
      </div>

      <div>
        <h1>Artiste</h1>
      </div>
      <div>
        <div class="card">
          <p>{{ track.artist.name }}</p>
          <img [src]="track.artist.picture" [title]="track.artist.name"  />
          <br />
        </div>
      </div>

      <div *ngIf="track.contributors.length > 1">
        <h1>Contributeurs</h1>
        <div class="row">
          <div class="column" *ngFor="let contributor of track.contributors">
            <div class="card">
              <p>{{ contributor.name }}</p>
              <img [src]="contributor.picture" [title]="contributor.name"  />
            </div>
            <br />
          </div>
        </div>
      </div>

      <div>
        <h1>Album</h1>
      </div>
      <div>
        <div class="card">
          <img [src]="track.album.cover_big" [title]="track.album.label"  />
          <p class="title">Titre de l'album</p>
          <p>{{ track.album.title }}</p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
