<button type="button" class="btn btn-light" (click)="reloadPage()">un autre</button>
<div class="container" *ngIf="artist">
  <h1><span label label-default>Artiste</span></h1>

  <div class=" mb-4 d-flex" *ngIf="artist">
    <img
      [src]="artist.picture_medium"
      [title]="artist.name"
      class="blog-img mr-4"
    />
    <div class="text">
      <h3 class="heading">
        {{ artist.name }}
      </h3>
      <div>
        <span>Nombre de fans : {{ artist.nb_fan | numberConversion }}</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Meilleurs morceaux</h1>
  <div class="item">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Titres</th>
        <th scope="col">Extraits</th>
      </tr>
      </thead>
      <tbody *ngFor="let track of tracks">
      <tr>
        <td>{{ track.title }}</td>
        <td><audio preload="auto" controls="controls"><source src="{{ track.preview }}" type="audio/mpeg"/></audio></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="albums">
<div>
  <h1>Albums</h1>
</div>
<div class="row">
  <div class="column" *ngFor="let album of albums">
    <div class="card">
      <img [src]="album.cover_big" [title]="album.label"  />
      <p class="title">Titre de l'album</p>
      <p>{{ album.title }}</p>
      <p class="title">Nombre de fans</p>
      <p>{{ album.fans }}</p>
      <p class="title">Date de parution</p>
      <p>{{ album.release_date }}</p>
    </div>
    <br />
  </div>
</div>
</div>
