.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  border-radius: 25px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {

  max-width: 300px;
  margin: auto;
  text-align: center;
}
img {
  width: 100%;
}
.title {
  color: grey;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

div.card-header2 {
  font-size: large;
}

div.card2 {
  margin-top: 10px;
}
.table {
  margin-top: 10px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.container {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding-top:70px;
  border: 2px;
  border-radius: 15px;
}

.albums {
  position:relative;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2px;
  border-radius: 15px;
  margin-top:400px;
}

.item {
  height: 40px;
  margin-bottom: 10px;
  color: black;
}
.blog-img {
  border-radius: 50%;
}

div.image{
  height:400px;
  width:400px;
  margin-left:40%;
  padding-bottom:100%;
  background-color:#E0F2F7;
}
body{
  margin-top:0;
  padding-top:0;
  background-color:#E0F2F7;
}
