.container {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  border: 2px;
  border-radius: 15px;
  color:orange;
}

p{
  margin-top:100px;
  text-align:center;
}

img{
  width:400px;
  height:400px;
}
